<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> 吕小鸣的前端博客<br>
      Powered by <a href="//hexo.io/" target="_blank">Hexo</a>
      .
    </div>
    <div style="margin-left: 6px;font-size: 12px;">豫ICP备19009686号</div>
  </div>
  <div class="pwa-tips" id="pwaTips">吕小鸣的前端博客正在使用PWA，是否安装到桌面？<span id="closepwaTips" class="close">x</span></div>
  <script type="text/javascript">
        var dfdPrompt = null;
        var clickTips = false;
        var pwaTips = document.getElementById('pwaTips');
        var closepwaTips = document.getElementById('closepwaTips');
        window.addEventListener('beforeinstallprompt', function (e) {
            if (clickTips) return;
            // 存储事件
            dfdPrompt = e;
            // 显示按钮
            pwaTips.style.display = 'block';
            setTimeout(function(){
                pwaTips.style.opacity = '1';
            },100)
            

            // 阻止默认事件
            e.preventDefault();
            return false;
        });
        pwaTips.addEventListener('click', function (e) {
            if (dfdPrompt == null || e.srcElement.classList.contains('close')) {
                return;
            }
            // 通过按钮点击事件触发横幅显示
            dfdPrompt.prompt();
            // 监控用户的安装行为
            dfdPrompt.userChoice.then(function (choiceResult) {
                // alert(choiceResult.outcome);
            });
            // 隐藏按钮
            pwaTips.style.opacity = '0';
            setTimeout(function(){
                pwaTips.style.display = 'none';
            },1000);
            dfdPrompt = null;
            clickTips = true;
        });
        closepwaTips.addEventListener('click', function (e) {

            // 隐藏按钮
            pwaTips.style.opacity = '0';
            setTimeout(function(){
                pwaTips.style.display = 'none';
            },1000);
        });
</script>
</footer>